<div class="fondo">
  <div class="contenedor-formulario rounded">
    <div class="imagen d-flex align-items-center">
      <img src="../assets/img/img-1.png" alt="" class="img-thumbnail rounded mx-auto d-block">
    </div>
    <form [formGroup]="form" (ngSubmit)="login()" class="formulario align-items-center justify-content-center" >
      <h1>Sistema de Citas</h1>
      <label for="usuario" class="mt-3">Usuario</label>
      <input type="text" pInputText formControlName="text" name="usuario" id="usuario" formControlName="usuario">
      <label for="contrasenia" class="mt-3">Contraseña</label>
      <p-password [feedback]="false" formControlName="contrasenia"></p-password> <!--[(ngModel)]="value"-->
      <button mat-flat-button color="primary" class="mt-3 mb-3 btn-login">Iniciar Sesion</button>
      <a href="">Recuperar contraseña</a>
    </form>
  </div>
</div>
