<div class="d-flex justify-content-center align-items-center fondo flex-column">
  <p-toolbar class="mb-5 shadow">
    <div class="p-toolbar-group-start">
      <p-button label="Agregar" icon="pi pi-plus" class="mr-2" (onClick)="agregarUsuario()"></p-button>
    </div>
    <div class="p-toolbar-group-end">
      <div class="p-inputgroup">
        <input type="text" pInputText placeholder="Buscar" />
        <button type="button" pButton icon="pi pi-search" styleClass="p-button-danger"></button>
      </div>
    </div>
  </p-toolbar>

  <div class="card rounded d-flex justify-content-center align-items-center shadow">
    <p-toast position="top-center" class="rounded"></p-toast>
    <p-table [value]="personal" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="header">
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Apellidos</th>
          <th>Email</th>
          <th>Género</th>
          <th>Estatus</th>
          <th style="width: 3rem">Acciones</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-personal class="overflow-scroll">
        <tr>
          <td>PER-{{ personal.id }}</td>
          <td>{{ personal.nombre }}</td>
          <td>{{ personal.apellidop }} {{ personal.apellidom }}</td>
          <td>{{ personal.email }}</td>
          <td>{{ personal.genero }}</td>
          <td>{{ personal.estado ? "Activo" : "Inactivo"}}</td>
          <td class="d-flex flex-row">
            <button type="button" pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success me-2"
              (click)="editarUsuario(personal)"></button>
            <button type="button" pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
              (click)="eliminarUsuario(personal)"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <p-dialog [(visible)]="agregarDialog" [style]="{width: '30%', height: '70%'}" header="Agregar Personal" [modal]="true"
    class="p-fluid">
    <form #formulario [formGroup]="formGroup" class="d-flex flex-column justify-content-center align-content-center">
      <mat-form-field class="w-100">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="nombre" onkeydown="return /[a-zA-ZñÑá-úÁ-Ú, ]/i.test(event.key)">
      </mat-form-field>
      <mat-form-field class="w-100">
        <mat-label>Primer Apellido</mat-label>
        <input matInput formControlName="apellidop" onkeydown="return /[a-zA-ZñÑá-úÁ-Ú, ]/i.test(event.key)">
      </mat-form-field>
      <mat-form-field class="w-100">
        <mat-label>Segundo Apellido</mat-label>
        <input matInput formControlName="apellidom" onkeydown="return /[a-zA-ZñÑá-úÁ-Ú, ]/i.test(event.key)">
      </mat-form-field>
      <mat-form-field class="w-100">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" (input)="existeEmail()">
        <div *ngIf="emailExiste">
          <mat-error>
            Este correo ya esta registrado
          </mat-error>
        </div>
      </mat-form-field>
      <mat-form-field class="w-100">
        <mat-label>Password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <div class="w-100 my-2">
        <label id="radio-group">Género:</label>
        <mat-radio-group formControlName="genero" id="radio-group">
          <mat-radio-button value="Masculino">Masculino</mat-radio-button>
          <mat-radio-button value="Femenino">Femenino</mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="w-75 mt-2">
        <button type="submit" class="btn btn-primary w-40 me-2" (click)="agregar()">Guardar</button>
        <button type="button" class="btn btn-danger w-40" (click)="btnCancelar()">Cancelar</button>
      </div>
    </form>
  </p-dialog>
  <p-dialog [(visible)]="modificarDialog" [style]="{width: '30%', height: '70%'}" header="Modificar Personal"
    [modal]="true" class="p-fluid">
    <form #formulario [formGroup]="formGroup">
      <mat-form-field class="w-100">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="nombre" onkeydown="return /[a-zA-ZñÑá-úÁ-Ú, ]/i.test(event.key)">
      </mat-form-field>
      <mat-form-field class="w-100">
        <mat-label>Primer Apellido</mat-label>
        <input matInput formControlName="apellidop" onkeydown="return /[a-zA-ZñÑá-úÁ-Ú, ]/i.test(event.key)">
      </mat-form-field>
      <mat-form-field class="w-100">
        <mat-label>Segundo Apellido</mat-label>
        <input matInput formControlName="apellidom" onkeydown="return /[a-zA-ZñÑá-úÁ-Ú, ]/i.test(event.key)">
      </mat-form-field>
      <mat-form-field class="w-100">
        <mat-label>Email</mat-label>
        <input matInput disabled value="{{formGroup.get('email')?.value}}">
      </mat-form-field>
      <mat-form-field class="w-100">
        <mat-label>Password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <div class="w-100 my-1">
        <label id="radio-group">Género:</label>
        <mat-radio-group formControlName="genero" id="radio-group">
          <mat-radio-button value="Masculino">Masculino</mat-radio-button>
          <mat-radio-button value="Femenino">Femenino</mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="w-100 my-1 align-content-end">
        <mat-slide-toggle formControlName="estado">Activo</mat-slide-toggle>
      </div>
      <div class="w-75 mt-2">
        <button type="submit" class="btn btn-primary me-2" (click)="modificar()">Guardar</button>
        <button type="button" class="btn btn-danger" (click)="btnCancelarM()">Cancelar</button>
      </div>
    </form>
  </p-dialog>
</div>
