<div class="d-flex justify-content-center align-content-center fondo flex-row p-5">
  <div class="card w-25 h-100 shadow p-4 d-flex flex-row me-3">
    <mat-card class="w-100 h-100 border">
      <mat-card-header class="fs-3 border-bottom">
        <mat-card-title class="text-center">
          <i class="bi bi-person-fill"></i>
          Pacientes
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="fs-4 d-flex flex-row mt-3">
      </mat-card-content>
    </mat-card>
  </div>
  <div class="card w-75 h-100 shadow p-4 d-flex flex-row">
    <mat-card class="w-100 h-100 border">
      <mat-card-header class="fs-3 border-bottom">
        <mat-card-title class="text-center">
          <i class="bi bi-folder-fill"></i>
          Historial Clínico
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="fs-4 d-flex flex-row mt-3">
      </mat-card-content>
    </mat-card>
  </div>
</div>
