
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();


$custom-primary-map: (
    50 : #ffffff,
    100 : #e5e6f1,
    200 : #d8daee,
    300 : #c2c5e4,
    400 : #abb0db,
    500 : #424874,
    600 : #858cce,
    700 : #686faa,
    800 : #545b92,
    900 : #424874,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
    )
);

$custom-accent-map: (
  // 50 : #e8eaf6,
  // 100 : #c5cbe9,
  // 200 : #9fa8da,
  // 300 : #7985cb,
  // 400 : #5c6bc0,
  // 500 : #3f51b5,
  // 600 : #394aae,
  // 700 : #3140a5,
  // 800 : #29379d,
  // 900 : #D9ACF5,
  // contrast: (
  //     50 : #000000,
  //     100 : #000000,
  //     200 : #000000,
  //     300 : #000000,
  //     400 : #ffffff,
  //     500 : #ffffff,
  //     600 : #ffffff,
  //     700 : #ffffff,
  //     800 : #ffffff,
  //     900 : #ffffff,
  // )
  0 : #e8eaf6,
    100 : #c5cbe9,
    200 : #9fa8da,
    300 : #7985cb,
    400 : #5c6bc0,
    500 : #3f51b5,
    600 : #394aae,
    700 : #3140a5,
    800 : #29379d,
    900 : #1b278d,
    A100 : #c6cbff,
    A200 : #939dff,
    A400 : #606eff,
    A700 : #4757ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$sistema-citas-primary: mat.define-palette($custom-primary-map);
$sistema-citas-accent: mat.define-palette($custom-accent-map);


// The warn palette is optional (defaults to red).
$sistema-citas-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$sistema-citas-theme: mat.define-light-theme((
  color: (
    primary: $sistema-citas-primary,
    accent: $sistema-citas-accent,
    warn: $sistema-citas-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($sistema-citas-theme);

